
*{
    margin: 0%;
}
h1{
    background-color: rgb(251, 135, 255);
    border-radius: ;
    border-radius: 5px;
}


.grupo {
    background-color: rgb(157, 157, 240);
    margin: 100px;
    padding: 200px;
    border-radius: 15px;
}